// ========================================
// ---------- VARIABLES ----------
@import "__variables.scss";
// ---------- END VARIABLES ----------
// ========================================
html.lock,
body.lock {
    height: 100%;
    overflow: hidden !important;
    width: 100%;
    position: relative;
    // background-color: rgba(0, 0, 0, 0.5);
}

.main_wrapper {
    width: 100%;
    overflow: hidden;
    @media (max-height: 100vh) {
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
        // align-items: stretch;
        // min-height: 100vh;
    }
}

.container {
    max-width: 1570px;
    width: 100%;
    margin: 0 auto;
    padding: 0 80px;
    @media (max-width: 768px) {
        padding: 0 30px;
    }
    @media (max-width: 375px) {
        padding: 0 15px;
    }
}

// ========================================
// ---------- HEADING ----------
//
h2 {
    color: $black;
    font-family: $CC;
    display: block;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.68px;
    text-align: center;
    // @media (max-width: 768px) {
    //     font-size: 46px;
    //     margin-bottom: 20px;
    // }
    .green {
        color: $green;
    }
}
// ---------- END HEADING ----------
// ----------------------------------------
// ---------- TEXTS ----------
p {
    font-family: $PR;
    color: $black;
    display: block;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.3px;
    @media (max-width: 425px) {
        font-size: 14px;
    }
}

a {
    // font-family: $Nun;
    // color: $dark;
    display: block;
    width: fit-content;
    transition: 0.3s;
    &:hover {
        transition: 0.3s;
    }
}
// ---------- END TEXTS ----------
// ----------------------------------------
// ---------- BUTTONS ----------
// ----------------------------------------
// ----- GREEN BTN -----
.btn_green {
    display: flex;
    width: 227px;
    height: 65px;
    background-image: url("../img/icons/bg_green_btn.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border: none;
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: transparent;
    font-family: $MP;
    span {
        color: #fff;
        text-transform: uppercase;
        animation-delay: 0s;
        animation-name: text2big;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        font-size: 10px;
    }
    @keyframes text2big {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.8);
        }
        100% {
            transform: scale(1);
        }
    }
}
// ----- END GREEN BTN -----
// ----------------------------------------
// ---------- END BUTTONS ----------
// ========================================
// ---------- OTHERS ----------

// ---------- END OTHERS ----------
// ========================================
