// ========================================
// ---------- FONTS ----------
// ----------------------------------------
// ----- CYRILLIC COOPER -----
@font-face {
  font-family: "CyrillicCooper";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/CyrillicCooper.otf") format("opentype"), url("../fonts/CyrillicCooper.woff") format("woff"),
    url("../fonts/CyrillicCooper.woff2") format("woff2");
}
// ----- END CYRILLIC COOPER -----
// ----------------------------------------
// ----- PROXIMA NOVA -----
@font-face {
  font-family: "ProximaNova-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype"),
    url("../fonts/ProximaNova-Regular.otf") format("opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"),
    url("../fonts/ProximaNova-Regular.woff2") format("woff2");
}
// ----- END PROXIMA NOVA -----
// ----------------------------------------
// ----- MYRIAD PRO -----
@font-face {
  font-family: "MyriadPro-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/MyriadPro-Regular.otf") format("opentype"), url("../fonts/MyriadPro-Regular.woff") format("woff"),
    url("../fonts/MyriadPro-Regular.woff2") format("woff2");
}
// ----- END MYRIAD PRO -----
// ----------------------------------------
// ----- MYRIAD PRO -----
@font-face {
  font-family: "Caveat";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Caveat-Regular.otf") format("opentype"), url("../fonts/Caveat-Regular.woff") format("woff"),
    url("../fonts/Caveat-Regular.woff2") format("woff2");
}
// ----- END MYRIAD PRO -----
// ----------------------------------------
// ---------- END FONTS ----------
// ========================================
